.numbers {
  font-weight: bold;
  font-size: 24px;
}

.clear,
.generate {
  margin-bottom: -25px;
  margin-top: 10px;
  margin-left: 2px;
}

.last-num {
  color: white;
  font-weight: bold;
  font-size: 18px
}

body {
  font-family: 'Bree Serif', serif;
}

.sticky-footer {
  padding: 10px;
  position: sticky !important;
  bottom: 0;
  z-index: 30;
}

a,
a:visited {
  color: white;
}

.icon-large {
  font-size: 24px;
}

.lift {
  margin-bottom: 10px;
}