.numbers {
  font-size: 22px;
}

.clear,
.generate {
  margin-bottom: -25px;
  margin-top: 10px;
  margin-left: 2px;
}

.last-num {
  color: white;
  font-weight: bold;
  font-size: 20px;
}

body {
  font-family: "Bree Serif", serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.sticky-footer {
  padding: 10px;
  position: sticky !important;
  bottom: 0px;
  z-index: 0;
}

.spacer {
  flex: 1;
}

hr {
  border-color: white;
  background-color: white;
}

a,
a:visited {
  color: white;
}

.icon-large {
  font-size: 24px;
}

.lift {
  margin-bottom: 10px;
}

@media screen and (max-width: 500px) {
  .numbers {
    font-size: 26px;
  }

  h4 {
    font-size: 28px;
  }
}