.numbers {
  font-size: 20px;
}

h4 {
  font-size: 22px;
}

.cleargame {
  cursor: pointer;
}

.clear,
.generate {
  margin-bottom: -25px;
  margin-top: 10px;
  margin-left: 2px;
}

.last-num {
  /* color: white; */
  font-weight: bold;
  font-size: 20px;
}

body {
  font-family: "Lora", serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: #283c86;
  /* fallback for old browsers */
  background: linear-gradient(to top, #c33764, #1d2671);
}

.btn-danger,
.badge-danger {
  background-color: #c33764 !important;
  border-color: #c33764 !important;
}

.badge-primary {
  background-color: #1d2671 !important;
  border-color: #1d2671 !important;
}

.jumbotron {
  background: transparent !important;
}

.container-fluid {
  padding: 50px;
}

.jumbotron-fluid {
  padding: 40px;
}

/* .sticky-footer {
  padding: 10px;
  position: sticky !important;
  bottom: 0px;
  z-index: 0;
} */

.spacer {
  flex: 1;
}

hr {
  border-color: white;
  background-color: white;
}

.perm {
  cursor: pointer;
}

a,
a:visited {
  color: white;
}

.icon-large {
  font-size: 24px;
}

.lift {
  margin-bottom: 10px;
}

@media screen and (max-width: 500px) {
  .numbers {
    font-size: 26px;
  }

  .games {
    margin-top: 20px;
  }

  h4 {
    font-size: 28px;
  }
}