.numbers {
  font-size: 20px;
}

h4 {
  font-size: 22px;
}

.clear,
.generate {
  margin-bottom: -25px;
  margin-top: 10px;
  margin-left: 2px;
}

.last-num {
  color: white;
  font-weight: bold;
  font-size: 20px;
}

body {
  font-family: "Lora", serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: linear-gradient(to top, #2a5298, #1e3c72);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.jumbotron {
  background: transparent !important;
}



.spacer {
  flex: 1;
}

hr {
  border-color: white;
  background-color: white;
}

.perm {
  cursor: pointer;
}

a,
a:visited {
  color: white;
}

.icon-large {
  font-size: 24px;
}

.lift {
  margin-bottom: 10px;
}

/* 
//DIFF COLORS
.badge-success {
  border-color: #292e49 !important;
  background-color: #292e49 !important;
}

.btn-danger {
  border-color: #515a8f !important;
  background-color: #515a8f !important;
} 

.sticky-footer {
  padding: 10px;
  position: sticky !important;
  bottom: 0px;
  z-index: 0;
} */

@media screen and (max-width: 500px) {
  .numbers {
    font-size: 26px;
  }

  .games {
    margin-top: 20px;
  }

  h4 {
    font-size: 28px;
  }
}